extends layout

block content
  script.
    $(document).ready(function(){
        $('#textInput').keyup(function(){
            $('#textOutput').val($('#textInput').val());
          })
      })
  h1= title
  p Welcome to #{title}
  div.row
    div.col-lg-3
      form(method='post', action='cards')
        div.form-group
          label(for='SetName') Core Set:
          select.form-control#SetName(name='cardName')
              each set, i in sets
                option(value=set.name) #{set.name}
        button(type='submit') Search
