extends layout

block content
  .container
    h1 Oxford MTG Portal
    form.form-horizontal(method='post', action='logon')
      fieldset
        // Form Name
        legend Login
        // Text input
        .form-group
          label.col-md-4.control-label(for='userName') Username
          .col-md-5
            input#userName.form-control.input-md(name='userName', type='text', placeholder='Username', required='')
        // Password input
        .form-group
          label.col-md-4.control-label(for='password') Password
          .col-md-5
            input#password.form-control.input-md(name='password', type='password', placeholder='', required='')
        // Button
        .form-group
          label.col-md-4.control-label(for='')
          .col-md-4
            button.btn.btn-primary(id='', name='') Login
            a.btn.btn-info(href='/registration', style='margin-left:150px') Register
