doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/paper.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Ubuntu:500', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Vollkorn', rel='stylesheet', type='text/css')
    script(src='https://code.jquery.com/jquery-2.1.3.js')
  body
    block content
