body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/halftone.png) repeat 0 0;
}

a {
  color: #00B7FF;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Ubuntu';
}

p, div{
  font-family: 'Vollkorn';
}
